*{
  margin: 0;
  padding: 0;
}
.background {
  background-color: #f9f9f9;

}

.nav_bar{
  height:10vh;
  background-color: #03a9f4;
  position: fixed;
  width: 100vw;
  /*top:0;*/
  z-index: 1;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
padding-top: 20px;
}

li {
  float: right;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.items_page{
 background-color: #f9f9f9;
}
.category_container{
  width:25vw;
  position: fixed;
  top:10vh;
  border:1px solid green;
  margin-left:10px; 
  background-color: #f9f9f9;

}
.category_item{
  height: 20vh;
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 0px 0px 0px 20px;
  margin: 15px;

}
.category_title {
  width: 20vw;
  height: 50px;
  background-color: blue;
  margin: 15px auto;
 
}
.menu_container{
  width:40vw;
  border: 1px red solid;
 position: absolute;
 top:10vh;
 left: 30vw;
  background-color: #f9f9f9;

}
.Menu_title {
  width: 40vw;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
  padding: 0px 0px 0px 20px;

}
.item_div{
  width: 40vw;
  height: 20vh;
  background-color: white;
  border-radius: 2px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  margin: 15px auto;
}
.item_div:hover {
  /*width: 10vh;*/
  /*height: 180px;*/
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, 0.1);
}
.item_name {
  text-decoration: none;
  font-family: avenir;
  font-size: 20px;
}
.item_specific_name {
  text-decoration: none;
  font-family: avenir;
  font-size: 25px;
}
.item_price {
  /*padding-top: 10px;*/
  font-size: 18px;
}
.item_specific_price {
  font-size: 22px;
}

.item_description {
  font-size: 18px;
}

.item_specific_description {
  font-size: 20px;
  padding-bottom: 25px;
}
.item_specific_description {
  font-size: 20px;
  padding-bottom: 25px;
}
/*cart container*/
.cart_container {
  width: 25vw;
  height: 50vh;
  border: 1px solid yellow;
  border-radius: 2px;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border: solid 1px black;
  position:fixed;
  top:10vh;
  text-align: center;
  right: 10px;
  padding-bottom: 20px;
 overflow: hidden;

}
.cart_items{
  margin-top:60px;
  overflow: auto;
  width: 25vw;
  max-height: 60vh;
}
.cart_item_div_content{
  background-color: white;
  margin:10px auto;

}
.cart_item_div_content a{
  text-decoration: none;
}
.checkout{
 position:fixed;
 bottom:0px;
 width: 25vw;
 /*margin: 10px;*/
right: 10px; 
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

}

.submit_button {
  margin: 0 auto;
  margin-top: 25px;
  font-family: avenir;
  font-size: 20px;
  padding: 10px 35px;
  border-radius: 40px;
  background-color: #03a9f4;
  color: white;
  border-color: #03a9f4;

}
hr.line{ 
   margin-top: 1px;
   margin-bottom: 1px;
   border-width: 2px;
} 
.category_title{
  position: fixed;
}

span .right{
  float: right;
}
















