.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.background {
  background: #f9f9f9;
  height: 100%;
}

.item_div {
  width: 500px;
  height: 175px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 15px auto;
}

.item_div:hover {
  width: 505px;
  height: 180px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.item_container {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 38%;
}

.item_name {
  text-decoration: none;
  font-family: avenir;
  font-size: 24px;
}

.item_specific_name {
  text-decoration: none;
  font-family: avenir;
  font-size: 35px;
}

.item_price {
  padding-top: 10px;
  font-size: 18px;
}

.item_specific_price {
  padding-top: 10px;
  font-size: 22px;
}

.item_description {
  font-size: 18px;
}

.item_specific_description {
  font-size: 20px;
  padding-bottom: 25px;
}

.item_div_content {
  font-family: avenir;
  color: #2d2d2d;
  text-decoration: none;
  padding: 0px 0px 0px 20px;
}

.cart_item_div_content {
  font-family: avenir;
  color: #2d2d2d;
  text-decoration: none;
  padding: 0px 0px 0px 20px;
}

.add_to_cart_button {
  margin-top: 25px;
  font-family: avenir;
  font-size: 20px;
  padding: 10px 35px;
  border-radius: 40px;
  background-color: #03a9f4;
  color: white;
  border-color: #03a9f4;
}

.comment {
  border: solid 1px #dadada;
  border-radius: 2px;
  width: 460px;
  height: 75px;
  padding: 10px;
  color: #2d2d2d;
  font-size: 17px;
  margin-bottom: 0px;
}
.comment::placeholder {
  font-weight: 200;
  color: #a1a1a1;
  font-size: 17px;
}

.cart_container {
  width: 250px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  border: solid 1px black;
  padding-left: 20px;

}

.menu_container {
  margin-right: 200px;
}
.items_page {
  display: flex;
  justify-content: center;
}

.cart_item_name {
  font-family: avenir;
  font-size: 18px;
}

.cart_item_description {
  font-family: avenir;
  font-size: 14px;
}

.cart_item_price {
  font-family: avenir;
  font-size: 14px;
}

.submit_button {
  margin-top: 25px;
  font-family: avenir;
  font-size: 20px;
  padding: 10px 35px;
  border-radius: 40px;
  background-color: #03a9f4;
  color: white;
  border-color: #03a9f4;
}

.prevOrderItem {
  font-family: avenir;
  padding: 0 5px 5px;
  width: 600px;
  height: 125px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 5px;
}
.prevOrderText {
  width: 350px;
}
.prevOrderButtonDiv {
  align-content: right;
  margin: 0 0 auto auto;
  width: 250px;
}
.orderAgainButton {
  position: relative;
  float: right;
  font-family: avenir;
  font-size: 10px;
  height: 30px;
  width: 200px;
  margin: 35px auto;
  border-radius: 40px;
  background-color: #03a9f4;
  color: white;
  border-color: #03a9f4;
  columns: 2;
}



