.App {
  text-align: center;
}

.background {
  background: #f9f9f9;
  height: 100%;
}
.Menu_title {
  width: 480px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
  padding: 0px 0px 0px 20px;

}
.category_div {
  width: 300px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 0px 0px 0px 20px;
  position: fixed;
}
.category_item{
  height: 175px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.category_title {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
  padding: 0px 0px 0px 20px;

}
.cart_title {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
  padding: 0px 0px 0px 20px;


}
.item_div {
  width: 20vw;
  height: 24vh;
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 15px;
  text-align: center;
}

.item_div:hover {
  /*width: 10vh;*/
  /*height: 180px;*/
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, 0.1);
}

.item_container {
width: 45vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 25%;
  border-radius: 10px;
  border:3px solid black;
}

.item_name {
  text-decoration: none;
  font-family: avenir;
  font-size: 20px;
}

.item_specific_name {
  text-decoration: none;
  font-family: avenir;
  font-size: 25px;
}

.item_price {
  /*padding-top: 10px;*/
  font-size: 18px;
}

.item_specific_price {
  font-size: 22px;
}

.item_description {
  font-size: 18px;
}

.item_specific_description {
  font-size: 20px;
  padding-bottom: 25px;
}

.item_div_content {
  font-family: avenir;
  color: #2d2d2d;
  text-decoration: none;
  /*padding: 0px 0px 0px 20px;*/
}

.cart_item_div_content {
  font-family: avenir;
  color: #2d2d2d;
  text-decoration: none;
  /*padding: 0px 0px 0px 20px;*/
}

.add_to_cart_button {
   font-family: avenir;
  font-size: 20px;
  /*padding: 10px 35px;*/
  background-color: #03a9f4;
  color: white;
  border-color: #03a9f4;
  width: 43vw;
  height: 9vh;
  border-radius: 5px;
  cursor: pointer;
}

.comment {
  border: solid 1px #dadada;
  border-radius: 2px;
  width: 39vw;
  height: 5vh;
  padding: 10px;
  color: #2d2d2d;
  font-size: 17px;
  margin-bottom: 0px;
}
.comment::placeholder {
  font-weight: 200;
  color: #a1a1a1;
  font-size: 17px;
}

.cart_container {
  width: 14vw;
  height: 80vh;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  border: solid 1px black;
  padding-left: 20px;
  height: 55vh;
  overflow: auto;
  position:fixed;
  text-align: center;
  right: 100px;
}

.menu_container {
  margin-right: 50px;
  height: 90vh;
  
}


.items_page {
  display: flex;
  justify-content: center;
}

.cart_item_name {
  font-family: avenir;
  font-size: 18px;
}

.cart_item_description {
  font-family: avenir;
  font-size: 14px;
}

.cart_item_price {
  font-family: avenir;
  font-size: 14px;
}

.submit_button {
  margin: 0 auto;
  margin-top: 25px;
  font-family: avenir;
  font-size: 20px;
  padding: 10px 35px;
  border-radius: 40px;
  background-color: #03a9f4;
  color: white;
  border-color: #03a9f4;

}

/*previous orders styling:*/
.prevOrderDiv {
  font-family: avenir;
  padding: 0 5px 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 5px;
  background: #03a9f4;
  text-align: center;
}
.prevOrderDiv, h1 {
  margin: 5px;
  color: white;
}
.prevOrderItem {
  padding: 0 5px 5px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: 85%;
  color: black;
}
.prevOrderText {
  width: 100%;
  padding: 5px;
}
.prevOrderText, p {
  margin: 0;
  font-size: 15px;
  text-align: left;
}
.prevItem {
  border: 1px solid lightgray;
  border-radius: 3px;
}
.orderAgain {
  color: red;
  text-align: right;
}
/*end of previous orders styling*/


/*current orders styling:*/
.currentOrderDiv {
  font-family: avenir;
  padding: 0 5px 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 5px;
  background: #03a9f4;
  text-align: center;
}
.currentOrderDiv, h1 {
  margin: 5px;
  color: white;
}
.currOrderItem {
  padding: 0 5px 5px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: 85%;
  color: black;
}
.currOrderText {
  width: 60%;
  padding: 5px;
}
.currOrderText, p {
  margin: 0;
  font-size: 15px;
  text-align: left;
}
.currItem {
  border: 1px solid lightgray;
  border-radius: 3px;
}
.currOrderButtonDiv {
  margin: 0 20px auto auto;
  padding: 0 auto;
  width: 40%;
  height: 100%;
}
.orderCompleteButton {
  float: right;
  font-family: avenir;
  font-size: 15px;
  height: 50px;
  width: 300px;
  margin: 20px;
  border-radius: 40px;
  background-color: #03a9f4;
  color: white;
  border-color: black;
}
/*end of current orders styling*/


.nav_bar {
  background-color: red;
  width: 70vw;
}


.main_container {
  display: flex;
  justify-content: center;
}

.maintenance_container {
  height: 300px;
  width: 300px;
  margin-left: 25px;
  margin-top: 16px;
  background: white;
  font-family: avenir;
  font-size: 16px;
}
.checkout{
 position:fixed;
 bottom:10px;
}
